body {
  background-color: black;
  box-sizing: content-box;
  font-family: 'Noticia Text', serif;
  margin: 0px;
  color: white;
}

h2 {
  font-size: 1.5em;
  font-weight: bolder;
  margin: 0.05em;
}

img {
  max-height: 100%;
}

#game-container {
  margin: 1vh;
  background-color: green;
  background-image: url("../images/green-fibers.png");
  border-radius: 10px;
  max-height: 98vh;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-content: space-evenly;
}

div.dealer-view {
  display: grid;
  grid-template-columns:30vw 40vw 30vw;
  height: 40vh;
  margin-top: 3vh;
  overflow: hidden;
}

div.player-view {
  display: grid;
  grid-template-columns:30vw 40vw 30vw;
  grid-template-rows: 30vh 1fr;
  height: 40vh;
}

div.result-view {
  height:20vh;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

div.dealer-hand, div.player-hand{
  display: flex;
  max-width: 30vw;
  max-height: 30vh;
  justify-self: center;
}

.dealer-total {
  position: relative;
  float: left;
  text-align: center;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 40px;
  border: 4px solid white;
  border-radius: 8px;
  opacity: 0.85;
  font-size: 1.5em;
}

.player-total {
  position: relative;
  float: left;
  text-align: center;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 40px;
  border: 4px solid white;
  border-radius: 8px;
  opacity: 0.85;
  grid-column: 1;
  grid-row: 1 / span 2;
  font-size: 1.5em;
}

.bust {
  color: maroon;
  /* text-shadow:
		-1px -1px 0 #FFF,
		1px -1px 0 #FFF,
		-1px 1px 0 #FFF,
		1px 1px 0 #FFF; */
}


.bets {
  grid-column: 3;
  grid-row: 1 / span 2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.rules-view, .bets {
  margin: 40px;
  border: 4px solid white;
  border-radius: 8px;
  opacity: 0.85;
}

.card-wrapper{
  overflow: hidden;
  width: 100%;
}

.card-wrapper:last-child{
  overflow: visible;
}


button {
  -webkit-appearance: none;
  height: 1.5em;
  width: 12em;
  font-size: 1.25em;
  margin: 5px;
  border-radius: 5px;
  font-family: 'Noticia Text', serif;
  background-color: black;
  color: green;
  border: 1px solid black;

}
button:hover {
  -webkit-appearance: none;
  height: 1.5em;
  width: 12em;
  font-size: 1.25em;
  margin: 5px;
  border-radius: 5px;
  font-family: 'Noticia Text', serif;
  color: green;
  color: yellow;
  border: 1px solid black;
}

button.player-buttons {
  height: 2.25em;
  width: 7em;
  background-color: black;
  color: green;
  border: 1px solid black;
}
button.player-buttons:hover {
  height: 2.25em;
  width: 7em;
  background-color: black;
  color: yellow;
  border: 1px solid black;
}
button.player-buttons:focus {
  height: 2.25em;
  width: 7em;
  background-color: black;
  color: red;
  border: 1px solid black;
}
button.player-buttons:disabled {
  height: 2.25em;
  width: 7em;
  background-color: black;
  color: grey;
  border: 1px solid black;
}



.buttons {
  justify-self: center;
  grid-row: 2 / span 1;
  grid-column: 2 / span 1;
  margin-top: 0.5em;
}

img.card-cover {
  z-index: 1;
}

.bet-buttons, .bet-buttons:hover {
  border-radius: 50%;
  height: 3em;
  width: 3em;
  border: 5px dashed white;
  color: white;
  font-size: 1.5em;
  box-shadow: 4px 4px 4px  rgba(0, 0, 0, 0.4);
}

.bet-buttons:focus {
  box-shadow: 1px 1px 1px  rgba(0, 0, 0, 0.4);
  outline: green;
}

a, a:hover {
  color: white;
  margin-left: 1em;
}

footer {

  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.bet-1 {
  background-color: red;
}

.bet-5 {
  background-color: blue;
}

.bet-10 {
  background-color: black;
}

button.place-bet, button.reset-bet {
  background-color: black;
  color: green;
  border: 1px solid black;
  width: 12em;
}

button.place-bet:hover, button.reset-bet:hover {
  background-color: black;
  color: yellow;
  border: 1px solid black;
}

button.place-bet:focus, button.reset-bet:focus {
  background-color: black;
  color: red;
  border: 1px solid black;
}

button.place-bet:disabled, button.reset-bet:disabled {
  background-color: black;
  color: grey;
  border: 1px solid black;
}

.bet-buttons-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.current-wallet {
  margin-top: 0;
  margin-bottom: 0.4em;
}

.current-bet {
  margin-top: 0.2em;
  margin-bottom: 0.4em;
}

h4.current-bet, h4.current-wallet {
  font-size: 1.5em;
}

ul {
  list-style: none;
  padding-inline-start: 15px;
  padding-inline-end: 15px;
}

li > a {
  margin-left: 0;
  text-decoration: none;
  font-weight: bold;
  opacity: 1;
  color: yellow;
}
li >a:hover {
  margin-left: 0;
  color: black;
  text-decoration: none;
}

.result-view {
  font-size: 1.5em;
}
