body {
  background-color: black;
  box-sizing: content-box;
  font-family: 'Noticia Text', serif;
  margin: 0px;

}

h2 {
  font-size: 1.5em;
  font-weight: bolder;
  margin: 0.05em;
}

img {
  max-height: 100%;
}

#game-container {
  margin: 1vh;
  background-color: green;
  background-image: "../images/green-fibers.png";
  border-radius: 10px;
  max-height: 98vh;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-content: space-evenly;
}

div.dealer-view {
  display: grid;
  grid-template-columns:30vw 40vw 30vw;
  height: 30vh;
  margin-top: 3vh;
}

div.player-view {
  display: grid;
  grid-template-columns:30vw 40vw 30vw;
  grid-template-rows: 30vh 1fr;
  height: 40vh;
}

div.result-view {
  height:35vh;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

div.dealer-hand, div.player-hand{
  display: flex;
  max-width: 30vw;
  max-height: 30vh;
  /* justify-content: center; */
}

.dealer-total, .player-total {
  position: relative;
  float: left;
  text-align: center;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 40px;
  border: 1px solid white;
  border-radius: 8px;
  opacity: 0.85;
}

/* .player-total {
  position: relative;
  float: left;
  text-align: center;
} */

.card-wrapper{
  overflow: hidden;
}

.card-wrapper:last-child{
  overflow: visible;
}


button {
  -webkit-appearance: none;
  height: 1.5em;
  width: 15em;
  font-size: 1.25em;
  margin: 5px;
  border-radius: 5px;
  font-family: 'Noticia Text', serif;
}
button:hover {
  -webkit-appearance: none;
  height: 1.5em;
  width: 15em;
  font-size: 1.25em;
  margin: 5px;
  border-radius: 5px;
  font-family: 'Noticia Text', serif;
  color: green;

}

button.player-buttons {
  height: 2.25em;
  width: 7em;
  background-color: black;
  color: green;
  border: 1px solid black;
}
button.player-buttons:hover {
  height: 2.25em;
  width: 7em;
  background-color: black;
  color: yellow;
  border: 1px solid black;
}
button.player-buttons:focus {
  height: 2.25em;
  width: 7em;
  background-color: black;
  color: red;
  border: 1px solid black;
}
button.player-buttons:disabled {
  height: 2.25em;
  width: 7em;
  background-color: black;
  color: grey;
  border: 1px solid black;
}



.buttons {
  justify-self: center;
  grid-row: 2 / span 1;
  grid-column: 2 / span 1;
}

img.card-cover {
  z-index: 1;
}
